.orphanage {
    margin: 0px auto;
    width: 544px;
    height: 309px;

    background-color: #ffffff;
    border-radius: 2rem;
}

.orphanage .leaflet-container {
    border-radius: 2rem;
    z-index: 5;
}

.orphanage footer {
    width: 100%;
    height: 82px;

    color: #4D6F80;
    padding: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.orphanage footer .dashboard-orphanage-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.orphanage footer .dashboard-orphanage-buttons button {
    width: 48px;
    height: 48px;

    border: 0;

    background: #EBF2F5;
    border-radius: 16px;

    cursor: pointer;

    transition: background-color 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.orphanage footer .dashboard-orphanage-buttons button:first-child {
    margin-right: 8px;
}

.orphanage footer .dashboard-orphanage-buttons button:hover {
    background: #ccd2d4;
}