#dashboard-page {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#dashboard-page main {
    flex: 1;
}

#dashboard-page .orphanages-container {
    width: 75%;
    margin: 64px auto;
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
}

@media (min-width: 700px){

}  